commands:
  10_install_npm:
    #command: "yum install nodejs npm --enablerepo=epel -y"
    command: |
      curl -sL https://rpm.nodesource.com/setup_8.x | bash -
      yum install -y nodejs
  20_config_npm:
    command: "sudo npm config set strict-ssl=false"

container_commands:
  10_config_npm:
    command: "npm config set strict-ssl=false"
  20_npm_install:
    command: "rm -f node_modules/evesrp"
  30_make_javascript:
    command: "make javascript"
  40_make_css:
    command: "make static"
  50_create_translations:
    command: "make translations"
  60_link_static:
    command: "ln -s src/evesrp/static"
  70_install_pymysql:
    command: "pip install PyMySQL"
  80_setup_develop:
    command: "./setup.py develop"
